{:paths ["src"]
 :deps {io.github.clojure/tools.build {:git/tag "v0.6.8" :git/sha "d79ae84"}
        slipset/deps-deploy           {:mvn/version "0.2.0"}}
 :aliases
 {:test
  {:extra-paths ["test"]}
  :build
  {:deps {io.github.clojure/tools.build {:git/tag "v0.6.8" :git/sha "d79ae84"}
          slipset/deps-deploy           {:mvn/version "0.2.0"}}
   :paths ["src"]
   :ns-default weavejester.build}}}
