{:lib io.github.weavejester/build
 :description "Clojure build library for tools.deps"
 :url "https://github.com/weavejester/build"
 :licenses
 [{:name "Eclipse Public License"
   :url "http://www.eclipse.org/legal/epl-v10.html"}]}
